
.apple {
    background-color: red;
}
.tesla {
    background-color: lightgray;
}
.micro {
    background-color: yellow;
}
.face {
background-color: green;
}
.amazon {
    background-color: brown;
}

.input-form  label {
    display: block;
}
.margin-top {
    margin-top: 18px;
}

.btn {
    margin-top: 25px;
}