* {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}

body {
 background-color: bisque;
}

/*------header-----*/
 ul li{
    list-style: none;
    border: 1px solid black;
    padding: 10px  20px;
 }

 .apple1 {
    background-color: brown;
 }
 .amazon1 {
    background-color: yellowgreen;
 }
 .google1 {
    background-color: lightgray;
 }
 .microsoft1 {
    background-color: lightblue;
 }