* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1f293a;
}

.container {
    width: 500px;
    height: 530px;
    border: 2px solid #0ef;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 45px;
}

.login-box {
    width: 100%;
}

.login-title {
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.login-title h2 {
    font-size: 32px;
    line-height: 1.5;
}

.login-title p {
    font-size: 16px;
    font-weight: 500;
}

/* INPUT BOX */
.input-box {
    position: relative;
    width: 100%;
    height: 55px;
    margin-bottom: 24px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #2c4766;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    padding: 0 16px;
    outline: none;
    transition: .3s;
}

/* Focus effect */
.input-box input:focus {
    border-color: #0ef;
}

/* LABEL */
.input-box label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
    transition: .3s;
}

/* Floating animation */
.input-box input:focus + label,
.input-box input:valid + label {
    top: -8px;
    font-size: 13px;
    color: #0ef;
    background: #1f293a;
    padding: 0 6px;
}

/* LINKS */
.forgot {
    margin-top: 6px;
}

.forgot a,
.guest-mode a,
.btn-box a {
    color: #0ef;
    font-size: 14px;
    text-decoration: none;
}

.forgot a:hover,
.guest-mode a:hover,
.btn-box a:hover {
    text-decoration: underline;
}

.guest-mode {
    margin: 40px 0;
}

.guest-mode p {
    font-size: 14px;
    color: #fff;
}

/* BUTTON */
.btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-box button {
    width: 20%;
    height: 40px;
    background: #0ef;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    color: #1f293a;
    cursor: pointer;
    transition: .3s;
}

.btn-box button:hover {
    opacity: 0.8;
}
